@use "../colors" as *;
.brands {
	padding: 2em;

	.brands-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1em;
		.brand-icon {
			width: 5vh;
			opacity: 0.2;
		}
	}
}
@media (min-width: 768px) {
	.brands {
		.brands-container {
			.brand-icon {
				width: 6.5vh;
			}
		}
	}
}

@media (min-width: 1200px) {
	.brands {
		margin-top: 0;
		padding: 3em;

		.brands-container {
			gap: 0;
			.brand-icon {
				width: 8vh;
			}
		}
	}
}
@media (min-width: 2000px) {
	.brands {
		.brands-container {
			.brand-icon {
				width: 7vh;
			}
		}
	}
}
