@use "../colors" as *;
.login-page {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	background-color: #99bfaf;
	z-index: 1000;
	.login-page-close-btn {
		position: absolute;
		top: 4%;
		left: 2%;
		font-size: 4rem;
		color: $white;
		transition: all 0.3s ease;
		cursor: pointer;
	}
	.login-page-close-btn:hover {
		color: black;
		scale: 1.1;
	}
}
