@use "../colors" as *;
.ow-container {
	padding: 1em;
	.ow-body {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 5em;

		.ow-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 0.5em;
			width: 50%;

			.ow-img-box {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 1em;
				width: 6vh;
				aspect-ratio: 1 / 1;
				border-radius: 100%;
				background-color: #99bfaf;

				.ow-img {
					width: 70%;
				}
			}
			.ow-text {
				font-size: 1.4rem;
				font-weight: bold;
			}
			.ow-desc {
				font-size: 1.2rem;
				text-align: center;
				color: #777;
			}
		}
		.ow-item:nth-child(3) {
			margin-top: 3em;
		}
	}
}

@media (min-width: 768px) {
	.ow-container {
		.ow-body {
			.ow-item {
				.ow-desc {
					width: 80%;
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	.ow-container {
		.ow-body {
			flex-wrap: nowrap;

			.ow-item {
				.ow-img-box {
					width: 8vh;
				}
				.ow-text {
					font-size: 1.6rem;
				}
				.ow-desc {
					font-size: 1.4rem;
				}
			}
			.ow-item:nth-child(3) {
				margin-top: 0;
			}
		}
	}
}

@media (min-width: 1920px) {
	.ow-container {
		padding: 0;
		margin-bottom: 15em;
		.ow-body {
			margin-top: 8em;

			.ow-item {
				.ow-img-box {
					width: 10vh;
				}
				.ow-text {
					font-size: 2rem;
				}
				.ow-desc {
					font-size: 1.6rem;
				}
			}
			.ow-item:nth-child(3) {
				margin-top: 0;
			}
		}
	}
}
