@use "./colors" as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: "Poppins", sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

.wrapper {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
}
.page {
	height: 100vh;
}

.section-heading {
	padding-left: 0.5em;
	text-transform: uppercase;
	font-size: 2.2rem;
	border-left: 5px solid $green;
	span {
		font-weight: 400;
	}
}
.loading-icon {
	width: 15%;
}

@media (min-width: 414px) {
	.section-heading {
		font-size: 2.6rem;
	}
}
@media (min-width: 768px) {
	.section-heading {
		font-size: 3rem;
	}
	.loading-icon {
		width: 10%;
	}
}

@media (min-width: 1200px) {
	.loading-icon {
		margin: 2em;
		width: 5%;
	}
}

@media (min-width: 1920px) {
	.section-heading {
		font-size: 4rem;
	}
}

@media (min-width: 2000px) {
	.wrapper {
		max-width: 1800px;
	}
}
